@model String
<title>TR-58939 (String)</title>

<body>
    <div style="font-weight: bold; font-size: 20px;" id="body_id">@Model</div>
</body>

<script>
    $(document).ready(function () {
        TestScript("@Model");
    });
</script>
