@using HtmlHelpersApp.App_Code;

@model Server.Core.ViewModel.VmBase

<body>
    @ListHelper.Customize(Html, Model)
</body>

@*<script>$(document).ready(function () {Site_Accordion("@Model.UsersJson");});</script>*@


