@model string
@{
    ViewData["Title"] = "Home Page";
    //Layout = null;
}
<title>TR-58939 (Index)</title>

<body>
    <div style="font-weight: bold; font-size: 20px;" id="body_id">
        ГИС ЖКХ
    </div>
</body>

<script>
    $(document).ready(function () {
        IndexScript();
    });
</script>
