@model Server.Core.ViewModel.VmBase
@{
    ViewData["Title"] = "Home Page";
    //Layout = null;
}

<body>
    <div class="text-center" id="body_id">
        @*<div class="display-4">Hello @Model.UserName !!!</div>*@
        <table class="text-center display-4">
            <tr>
                <td>Hello</td>
                <td style="padding: 25px; color: red;">@Model.UserName</td>
                <td>!!!</td>
            </tr>
        </table>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>

<script>
    $(document).ready(function () {
        Site_Border();
        Index_Ready();
    });
</script>
