/*Контролы*/
/*кнопка контекстного меню в гриде*/
.grid-cell-btn {
    margin: 5px;
}
/*контекстное меню грида*/
ul[data-role="contextmenu"] {
    /*width: 151.203px !important;*/
    width: auto;
    max-width: 250px;
    /*height: 92.25px !important;*/
    font-size: 14px !important;
    left: 0 !important;
}

.tab-title{
    width: 100%;
    text-align: right;
}

.grid {
    overflow-y: hidden;
    overflow-x: hidden;
}

/*уменьшаем высоту строк в гриде*/
.grid td {
    padding: 1px;
    white-space: nowrap;
}
.grid img {
    vertical-align: middle;
}

.k-grid-content, table[role='grid'] {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.grid.k-spreadsheet {
    width: 100%;
}

.k-spreadsheet-cell.k-state-disabled {
    color: #333333;
}

input[readonly] {  
  background-color: #eee;
  opacity: 1;
}

/*Группа в содержимом меню*/
#MainMenu h4.title,
ul[role="menu"] h4.title {
    margin-top: 10px;
    margin-bottom: 0px;
}

li[is_lik_button="True"] > span {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

/*Левый столбец в редакторе (заголовки)*/
.ctrl-label {
    min-width: 100px;
    width: 30%;
    padding-right: 1.5em;
    height: 25px;
}
.ctrl-label-70 {
    min-width: 100px;
    width: 70%;
    padding-right: 1.5em;
    height: 25px;
}
.ctrl-no-label {
    min-width: 0px;
    width: 0%;
    padding: 0px;
}

/*Правый столбец в редакторе (контролы)*/
.ctrl-value {
    width: 70%;
}
.ctrl-value-30 {
    width: 30%;
}
.ctrl-no-label-value {
    width: 100%;
}
.ctrl-label-LIK-editor {
    width: 300px;
}
.ctrl-value-LIK-editor {
    width: 300px;
}

/*Элементы селектора*/
.ctrl-selector {
    height: 2.04em;
    min-height: 2.04em; 
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    top: 0px;
}
.ctrl-selector-input {
    /*position: absolute;*/
    position: relative !important;
    /*z-index: 100;*/
    top: 0px;
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    /*width: calc(100% - 62px) !important;*/
}
.ctrl-selector-date-label {
    padding-top: 5px;
}
.ctrl-selector-icon-select,
.ctrl-selector-icon-search {
    position: relative !important;
    float: left;
    width: 20px !important;
    margin-left: 5px !important;
}
.ctrl-selector-icon-close {
    position: relative !important;
    float: right;
    margin-right: 5px !important;
}
.ctrl-editor-input {
    position: relative !important;
    top: 0px;
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
    margin-left: 0px !important;
    margin-right: 5px !important;
}
.ctrl-editor-icon-search {
    position: relative !important;
    float: right;
    width: 20px !important;
    margin-left: 5px !important;
    margin-right: 0px !important;
}
.ctrl-selector .ctrl-selector {
    height: 100% !important;
    border-width: 0px 1px 1px 0px !important;
}
.ctrl-selector .k-checkbox-label {
    top: -7px !important;
}

.combobox-for-numeric {
    width: 70px;
    float: right;
}

.ctrl-daterange-beg {
    width: 45%;
    float: left;
}
.ctrl-daterange-end {
    width: 45%;
    float: right;
}

.ctrl-list-view-item {
    border-style: none;
    border-bottom-style: double;
    border-width: 1px;
    border-bottom-color: lightgray;
    margin: 2px;
    line-height: 0.5;
}

.ctrl-main-menu-list-view-item a {
    text-decoration: none;
}

.ctrl-modal-window-ok-button {
    min-width: 55px;
}

.ctrl-toolbar-button-forward,
.ctrl-toolbar-button-back {
    padding-top: 6px;
}

.ctrl-menu-button span.k-link {
    padding-left: 0.6em !important;
    padding-right: 0.6em !important;
}

.ctrl-diagram-modal-textarea {
    width: 320px;
    height: 70px !important;
}
.ctrl-diagram-modal-textbox {
    width: 225px;
    height: 35px;
    margin-top: 8px;
    margin-bottom: 9px;
}
.ctrl-diagram-modal-colorpicker {
    width: 320px;
    height: 35px;
    margin-top: 8px;
    margin-bottom: 9px;
}
.ctrl-diagram-modal-text {
    min-width: 50px;
}

.report-div-content .ctrl-report-div {
    width: 80%;
}

.ctrl-report-div .grid td  {
    white-space: normal;
    /*width: auto;*/
}

.ctrl-label-alone {
    padding-left: 5px;
    padding-right: 5px;
}

.ctrl-checkbox-label {
    display: inline;
}

/*Дополнительные стили для контролов внутри едитора*/
.ctrl-input-inside {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 0px;
    height: 100% !important;
}
.ctrl-input-inside > span {
    border-width: 0px !important;
    border-style: none !important;
    height: 100% !important;
}
.ctrl-input-inside .k-i-close {
    margin-top: 0px;
}

.ctrl-empty-div {
    margin-left: 5px;
    float: left;
    max-width: 100px;
}

/*Html-едитор не растягивается иначе*/
.is-fulled > .k-widget.k-editor-widget {
    height: calc(100% - 4px) !important;
    width: calc(100% - 2px) !important;
}

.k-window-content {
    height: 100% !important;
}

.k-button[data-action='diagram-rectangle-btn'] {
    background: center no-repeat url(../../../Images/Objects/Shape_Square.png);
    height: 28px;
    width: 28px;
}
.k-button[data-action='diagram-circle-btn'] {
    background: center no-repeat url(../../../Images/Objects/Shape_Round.png);
    height: 28px;
    width: 28px;
}
.k-button[data-action='diagram-text-btn'] {
    background: center no-repeat url(../../../Images/Objects/Shape_Text.png);
    height: 28px;
    width: 28px;
}
.k-button[data-action='diagram-rhombus-btn'] {
    background: center no-repeat url(../../../Images/Objects/Shape_Rhombus.png);
    height: 28px;
    width: 28px;
}

ul.report-main-list,
ul.report-document-list,
ul.report-document-item-list {
    list-style-type: none;
    margin: 0px;
}
a.ctrl-input {
    cursor: pointer;
}
/*Только для Мазилы. Неправильно отображаются small и medium селекторы*/
@-moz-document url-prefix() {
    .Small .k-textbox > input {
        width: 75%;
    }

    .Medium .k-textbox > input {
        width: 85%;
    }
}

.ctrl-color-black {
    border-style: solid;
    border-color: black;
    margin: 0px;
    padding: 0px;
}
.ctrl-color-gray {
    border-style: solid;
    border-color: gray;
    margin: 0px;
    padding: 0px;
}
.ctrl-color-blue {
    border-style: solid;
    border-color: blue;
    margin: 0px;
    padding: 0px;
}
.ctrl-color-red {
    border-style: solid;
    border-color: red;
    margin: 0px;
    padding: 0px;
}
.ctrl-color-green {
    border-style: solid;
    border-color: green;
    margin: 0px;
    padding: 0px;
}
.ctrl-color-orange-bckgr {
    background: orange;
    margin: 0px;
    padding: 0px;
}

/*@media (max-width: 768px) {
    #MainMenu{
        margin-left: 0px;
        padding-left: 2px;
    }
        #MainMenu span.k-link{
            padding-left: 5px;
        }
    
    .ctrl-mobile-button {
        height: 47px;
        width: 30px;
    }
    .ctrl-mobile-button-cancel {
        padding-left: 10px
    }
    .ctrl-mobile-button-list img {
        padding-top: 5px;
    }

    #view_main_title {
        width: 100%;
        min-height: 48px;
    }
    #view_lik_title {
        float: left;
        margin-left: 0px;
        font-size: 15px;
        font-weight: bold;
        min-height: 48px;
    }
    #view_title {
        width: calc(100% - 215px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        min-height: 48px;
    }

    #mobile_view_header,
    #employee_navbar,
    #view_main_title {
        min-height: 48px;
    }
    .km-android .km-navbar .km-view-title
    {
        display: inline-block;
        width: 100%;
    }
}*/

/*@media (max-width: 320px) {
    .fieldlist li > table td {
        display: inline;
    }

        .fieldlist li > table td > input,
        .fieldlist li > table td > span {
            margin-top: 10px;
        }

    #view_main_title {
        width: 100%;
        min-height: 48px;
    }
    #view_lik_title {
        float: left;
        margin-left: 0px;
        font-size: 15px;
        font-weight: bold;
        min-height: 48px;
    }
    #view_title {
        width: calc(100% - 215px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        min-height: 48px;
    }
    .grid {
        overflow-y: hidden;
        height: auto;
    }

    #mobile_view_header,
    #employee_navbar,
    #view_main_title {
        min-height: 48px;
    }
    .km-android .km-navbar .km-view-title
    {
        display: inline-block;
        width: 100%;
    }
}*/

