html {
    font-family: Arial,Helvetica,FreeSans,'Liberation Sans','Nimbus Sans L',sans-serif;
    color: #222;
}

h2 {
    text-align: center;
}

/*.ac-box {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

/*.ac-box {
    width: 300px;
    height: 600px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}*/

/*.ac-box-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
	top: 0;
	left: 0;
}

.ac-box-pre-outer {
    display: table-cell;
    vertical-align: middle;
}

.ac-box {
    margin-left: auto;
    margin-right: auto; 
    width: 300px;
}*/

.ac-box-outer {
    padding-top: 240px;
    margin-left: auto;
    margin-right: auto; 
    width: 350px;
}

.ac-box-pre-outer {
    border: 1px solid #bebebe;
}

.ac-box {
    padding: 25px;
}



.ac-row {
    margin-bottom: 10px;
    font-size: 15px;
}

/*.ac-logo {
    text-align: center;
}*/

.ac-logo .k-link {
    background-image: url(../Images/logo.png);
    display: block;
    margin: auto;
    width: 237px;
    height: 100px;
}

.ac-forgot-password,
.ac-need-help,
.ac-agreement,
.ac-params {
    font-size: 12px;
}

.ac-agreement .k-link {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.ac-params .k-link {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.ac-auth-btn {
    margin: 3px;
}

.ac-auth-btn-google,
.ac-auth-btn-google:focus,
.ac-auth-btn-google:hover {
    background-image: url(../Images/Account/btn_google_light_normal_ios.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;   
}

/*.ac-auth-btn-google:focus {
    background-image: url(../Images/Account/btn_google_light_pressed_ios.png);  
}

.ac-auth-btn-google:hover {
    background-image: url(../Images/Account/btn_google_light_focus_ios.png);
}*/

.ac-auth-btn-facebook,
.ac-auth-btn-facebook:hover,
.ac-auth-btn-facebook:focus {
    background-image: url(../Images/Account/bitrix24.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-position-x: -32px;
    background-position-y: 1px;   
}

.ac-auth-btn-vkontakte,
.ac-auth-btn-vkontakte:hover,
.ac-auth-btn-vkontakte:focus {
    background-image: url(../Images/Account/bitrix24.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-position-x: -32px;
    background-position-y: -265px;   
}

.ac-auth-btn-ok,
.ac-auth-btn-ok:hover,
.ac-auth-btn-ok:focus {
    background-image: url(../Images/Account/btn_odnoklassniki.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.ac-auth-btn-apple,
.ac-auth-btn-apple:hover,
.ac-auth-btn-apple:focus {
    background-image: url(../Images/Account/btn_apple.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 37px 37px;
}

.ac-auth-btn-ntlm,
.ac-auth-btn-ntlm:hover,
.ac-auth-btn-ntlm:focus {
    background-image: url(../Images/Account/btn-ntlm.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;   
}

.ac-auth-btn-bitrix24,
.ac-auth-btn-bitrix24:hover,
.ac-auth-btn-bitrix24:focus {
    background-image: url(../Images/Account/bitrix24.png);
    background-repeat: no-repeat;
    width: 130px;
    height: 37px;
    background-position-x: 0px;
    background-position-y: -384px;
}

.ac-auth-btn-esia,
.ac-auth-btn-esia:hover,
.ac-auth-btn-esia:focus {
    background-image: url(../Images/Account/gos_logo_mobile.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;   
}

.ac-win-btn {
    float: right;
}

.ac-log-hidden-btn {
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}

.ac-send-code-btn {
    float: right;
}

.ac-box .k-textbox,
.ac-box .k-dropdown {
    width: 100%;
    font-size: 18px;
}

.ac-box .k-form .field-validation-error {
    color: #c81109;
    font-size: 12px;
    padding-top: 5px;
}

.ac-box .k-form .input-validation-error {
    border: 1px solid #d01209;
    background: #fce4e3;
}

.k-checkbox-label::before {    
    border-color: grey;    
}

.ac-float-right {
    float: right !important;
}

.ac-float-left {
    float: left !important;
}

.ac-text-right {
    text-align: right !important;
}

.ac-text-center {
    text-align: center !important;
}

.ac-text-left {
    text-align: left !important;
}

.ac-text-attention {
    border: 1px solid #d01209;
    border-radius: 3px;
    /*background: #fce4e3;*/
    color: #919191;
    padding: 3px;
}

.ac-width-large {
    width: 320px;
}