/*************************************ModalWindow************************************/
/*Кнопка ОК*/
.k-modal-window.k-button.k-primary {
    float: right;
}

/*Содержимое окна*/
.k-modal-window-content {
    height: calc(100% - 34px);
    width: 100%;
    min-width: inherit;
    border: 0px;
    overflow: hidden;
    line-height: normal;
    list-style-type:none;
}

.k-modal-window-content > li > table {
    width: 100%;
}

.k-modal-window-content label.k-checkbox-label {
   padding-left: 0px;
}

    /*Текст в окне*/
    .k-modal-window-content-textarea {
        /*height: calc(100% - 34px);*/
        height: 100%;
        width: 100%;
        max-width: 350px;
        border: 0px;
        overflow: hidden;
        font-family: b;
        font-size: 20px;
        margin-bottom: 10px;
    }

        /*Область детализации для окна ошибки*/
        .k-modal-window-content-textarea-detail {
            max-height: 300px;
            max-width: 500px;
            width: 100%;
            border: 1px;
            border-style: solid;
            overflow: scroll;
            font-size: 14px;
            display: none;
        }
